@use '../../styles' as *;

.root {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0 auto;
    max-width: $max-width-sm;
    padding: 16px 24px;

    @include tablet() {
        flex-direction: row;
        max-width: $max-width-md;
        padding: 40px 24px;
    }

    @include desktop() {
        max-width: $max-width-lg;
    }
}

.left {
    @include only-mobile() {
        margin-bottom: 2px;
    }

    @include only-tablet() {
        max-width: 600px;
    }

    @include tablet() {
        flex: 6;
        margin-right: 24px;
    }

    @include desktop() {
        margin-right: 32px;
    }
}

.right {
    @include tablet() {
        flex: 4;
    }

    @include only-tablet() {
        max-width: 336px;
    }
}

.image {
    background-image: url('../../assets/images/login-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 50%;
}

.form {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 134px;

    h1 {
        margin: 24px 0;
    }

    .label {
        margin-bottom: 4px;
    }

    button {
        margin-top: 8px;
    }

    .register {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 40px;
        text-align: center;

        a {
            color: $color-purple;
            font-size: 12px;
            font-weight: 700;
            margin-left: 8px;
            text-decoration: none;
        }
    }
}

.input {
    margin-bottom: 16px;
}
