.root {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.image {
    background-image: url('../../assets/images/login-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 50%;

    h1 {
        font-size: 40px;
        font-weight: 700;
        margin: 35% 13%;
    }
}

.form {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 134px;

    h1 {
        font-size: 24px;
        font-weight: 700;
        margin: 24px 0;
    }

    p {
        margin-bottom: 4px;
    }

    button {
        margin-top: 8px;
    }

    .to-register {
        margin-top: 40px;
        text-align: center;

        a {
            color: #7126b5;
            font-weight: 700;
            text-decoration: none;
        }
    }
}

.input {
    margin-bottom: 12px;
}
