@use '../../styles/' as *;

.form {
    box-sizing: border-box;
    max-width: 320px;
    width: 100vw;

    @include tablet() {
        max-width: 567px;
    }

    .label {
        margin-bottom: 4px;
    }

    .input {
        margin-bottom: 16px;
    }

    button {
        margin-top: 8px;
    }
}

.camera {
    align-items: center;
    background: #e2d4f0;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    height: 96px;
    justify-content: center;
    margin: 0 auto 24px;
    width: 96px;

    input {
        border: 0;
        border-radius: 12px;
        cursor: pointer;
        height: 98px;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        width: 98px;
    }

    &-preview {
        border-radius: 12px;
        height: 96px;
        object-fit: contain;
        width: 96px;
    }
}

.no-bg {
    background: none;
}
