@use '../../styles/' as *;

.slides {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    height: 0;
    margin-bottom: 16px;
    padding-top: 22.32%;
    position: relative;
    width: 100%;
}
