@use '../../styles/' as *;

.root {
    background-color: $color-white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 100vw;
}

.wrapper {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 80px;
    margin: 0 auto;
    padding: 0 24px;
    width: 100vw;

    @include tablet() {
        height: 84px;
        max-width: $max-width-md;
        padding: 0 24px;
    }

    @include desktop() {
        max-width: $max-width-lg;
    }
}

.logo-wrapper {
    margin-right: 24px;
}

.bg {
    background-color: $color-neutral-3 !important;
    border: 0 !important;
    box-sizing: border-box;
    width: 100%;

    @include tablet() {
        width: 344px;
    }

    @include desktop() {
        width: 444px;
    }
}

.button-group {
    column-gap: 24px;
    display: grid;
    grid-template-columns: repeat(4, 24px);
    margin-left: auto;
}

.login-wrapper {
    margin-left: auto;
    width: 105px;

    img {
        margin-right: 8px;
    }
}

.button {
    cursor: pointer;
}

.menu {
    border-radius: 16px;
    box-sizing: border-box;
    cursor: pointer;
    height: 52px;
    margin-right: 16px;
    padding: 14px 16px;

    img {
        height: 24px;
        width: 24px;
    }
}

.menu:hover {
    background-color: $color-neutral-3;
}

.modal {
    animation: expand 200ms linear forwards;
    box-sizing: border-box;
    border-radius: 0;
    height: 100vh;
    left: 0;
    overflow: hidden;
    top: 0;
    transform: none;
    transition: all linear 1s;
    width: 60vw;

    &-item {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        height: 32px;

        img {
            margin-right: 16px;
        }
    }

    &-home {
        margin-bottom: 16px;
    }
}

@keyframes expand {
    from {
        left: -60vw;
    }
    to {
        left: 0;
    }
}
