@use '../../styles/' as *;

.root {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: $max-width-sm;
    padding: 16px 24px;

    @include tablet() {
        max-width: $max-width-md;
        padding: 40px 24px;
    }

    @include desktop() {
        max-width: $max-width-lg;
    }
}

.category {
    display: flex;
    margin-top: 16px;
    overflow-x: scroll;

    button {
        flex: 0 1;
        padding: 14px 24px;
    }

    .icon {
        margin-right: 8px;
    }
}

.category .wrapper:not(:first-child) {
    margin-left: 16px;
}

.product,
.product-wishlist {
    column-gap: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    row-gap: 16px;

    @include tablet() {
        grid-template-columns: repeat(4, 1fr);
    }

    @include desktop() {
        grid-template-columns: repeat(6, 1fr);
    }
}

.product-wishlist {
    margin-top: 24px;
}

.header {
    margin-top: 40px;
}
