@use '../../styles' as *;

.root {
    align-items: center;
    border-radius: 16px;
    box-sizing: border-box;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    line-height: 20px;
    padding: 8px 12px;
    text-align: center;
    width: 100%;
}

.primary {
    background-color: $color-purple;
    border: 1px solid $color-purple;
    color: $color-white;
}

.secondary {
    background-color: $color-white;
    border: 1px solid $color-purple;
    color: $color-black;
    height: fit-content;
}
