@use '../../styles' as *;

.overlay {
    background-color: transparent;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $z-index-front;
}

.position {
    height: 100vh;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
    width: 100vw;
    z-index: $z-index-overflow;

    @include tablet() {
        max-width: $max-width-md;
    }

    @include desktop() {
        max-width: $max-width-lg;
    }
}

.content {
    background-color: $color-white;
    border-radius: 4px;
    margin: 90px 0 0 auto;
    outline: 1px solid;
    padding: 12px 0;
    width: 160px;
    z-index: $z-index-overflow;

    .image {
        align-self: right;
        border-radius: 50%;
        display: flex;
        margin-left: auto;
    }

    .image:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
}
