.header-container {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    height: 84px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
}

.header-container img {
    background: #4b1979;
    height: 34px;
    left: 136px;
    position: absolute;
    top: 27px;
    width: 100px;
}

.header-container h3 {
    color: #000;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 24px;
    left: 645px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 150px;
}

.arrowleft {
    bottom: 20.83%;
    left: 20.83%;
    position: absolute;
    right: 50%;
    top: 20.83%;
}

.profile {
    background: #e2d4f0;
    border-radius: 12px;
    height: 96px;
    left: 672px;
    position: absolute;
    top: 124px;
    width: 96px;
}

.container-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 360px;
    left: 436px;
    padding: 0;
    position: absolute;
    top: 244px;
    width: 568px;
}

.container-main-01 p {
    align-self: stretch;
    color: #000;
    flex: none;
    flex-grow: 0;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
    order: 0;
    width: 568px;
}

.container-main-01 input {
    align-items: center;
    align-self: stretch;
    background: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 16px;
    box-sizing: border-box;
    color: #8a8a8a;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-grow: 0;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    gap: 16px;
    height: 48px;
    line-height: 20px;
    order: 1;
    padding: 12px 16px;
    width: 568px;
}

.container-main-02 p {
    align-self: stretch;
    color: #000;
    flex: none;
    flex-grow: 0;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
    order: 0;
    width: 568px;
}

.container-main-02 input {
    align-items: center;
    align-self: stretch;
    background: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 16px;
    box-sizing: border-box;
    color: #8a8a8a;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-grow: 0;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    gap: 16px;
    height: 48px;
    line-height: 20px;
    order: 1;
    padding: 12px 16px;
    width: 568px;
}

.container-main-03 p {
    align-self: stretch;
    color: #000;
    flex: none;
    flex-grow: 0;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
    order: 0;
    width: 568px;
}

.container-main-03 input {
    align-items: flex-start;
    align-self: stretch;
    background: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 16px;
    box-sizing: border-box;
    color: #8a8a8a;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-grow: 0;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    gap: 16px;
    height: 80px;
    line-height: 20px;
    order: 1;
    padding: 12px 16px;
    width: 568px;
}

.container-main-04 p {
    align-self: stretch;
    color: #000;
    flex: none;
    flex-grow: 0;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
    order: 0;
    width: 568px;
}

.container-main-04 input {
    align-items: center;
    align-self: stretch;
    background: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 16px;
    box-sizing: border-box;
    color: #8a8a8a;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-grow: 0;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    gap: 16px;
    height: 48px;
    line-height: 20px;
    order: 1;
    padding: 12px 16px;
    width: 568px;
}

.save-button {
    background: #7126b5;
    border-color: #7126b5;
    border-radius: 16px;
    color: #fff;
    display: flexbox;
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 48px;
    left: 436px;
    padding: 12px 24px;
    text-align: center;
    top: 628px;
    width: 568px;
}
