@use '../../styles/' as *;

.root {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 968px;
    padding: 40px 0;
}

.seller {
    border-radius: 16px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 48px calc(100% - 128px) 48px;
    column-gap: 16px;
    margin-top: 24px;
    padding: 16px;
    width: 968px;

    &-name {
        margin-bottom: 4px;
    }

    &-image {
        border-radius: 12px;
        height: 48px;
        width: 48px;
    }

    &-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .button {
        border-radius: 8px;
        margin: auto 0;
        margin-left: auto;
        padding: 4px 12px;
        width: 47px;
    }
}

.content {
    display: flex;
    flex-direction: row;
    width: 968px;
    margin-top: 24px;
}

.category {
    align-items: flex-start;
    border-radius: 16px;
    box-shadow: 0 0 10px 0 #00000026;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 248px;
    padding: 24px;

    &-wrapper {
        display: flex;
        flex-direction: column;
    }
}

.selected {
    border-bottom: 1px solid $color-purple;
}

.border {
    border-bottom: 1px solid $color-neutral-2;
}

.item {
    display: flex;
    flex-direction: row;
    padding-bottom: 16px;
    width: 220px;

    &-name {
        margin: 0 auto 0 8px;
        width: 156px;
    }
}

.item:not(:last-child) {
    margin-bottom: 16px;
}

.product {
    column-gap: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 32px;
    row-gap: 24px;
    width: 100%;

    &-add {
        align-items: center;
        background: #fff;
        border: 1px dashed #d0d0d0;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            margin-bottom: 8px;
        }
    }
}

.empty {
    height: 666px;
    margin-left: 210px;
    margin-top: 24px;
    width: 100%;

    &-text {
        margin-top: 16px;
    }
}
