@use '../../styles/' as *;

.root {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: $max-width-sm;
    padding: 16px 24px;

    @include tablet() {
        flex-direction: row;
        max-width: $max-width-md;
        padding: 40px 24px;
    }

    @include desktop() {
        max-width: $max-width-lg;
    }
}

.camera {
    align-items: center;
    background: #e2d4f0;
    border-radius: 12px;
    display: flex;
    height: 96px;
    justify-content: center;
    margin: 0 auto 24px;
    width: 96px;
}

.profile {
    width: 100%;
    max-width: 567px;
    margin: 0 auto;

    &-data {
        border-bottom: 1px solid $color-black;
        padding-bottom: 16px;
    }

    button {
        margin-top: 24px;
    }
}

.profile-label:not(:last-child) {
    margin-top: 24px;
}
