.root {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.image {
    box-sizing: border-box;
    display: flex;
    height: 100px;
    margin-bottom: 8px;
    overflow: hidden;
    width: 100%;

    img {
        align-self: center;
        width: 100%;
    }
}

.wrapper {
    margin-bottom: 4px;
}

.title {
    margin-bottom: 4px;
}
.category {
    margin-bottom: 8px;
}
