.root {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 #00000026;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 153.14px;
    padding: 8px;
}

.image {
    box-sizing: border-box;
    display: flex;
    height: 100px;
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
    width: Fill (137.14px);

    img {
        align-self: center;
        width: 100%;
    }
}

.wrapper {
    margin-bottom: 4px;
}
