@use '../../styles/' as *;

.root {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 16px 24px;
    max-width: $max-width-sm;

    @include tablet() {
        flex-direction: row;
        padding: 40px 24px;
        max-width: $max-width-md;
    }

    @include desktop() {
        max-width: $max-width-lg;
    }
}

.left {
    @include only-mobile() {
        margin-bottom: 16px;
    }

    @include only-tablet() {
        max-width: 600px;
    }

    @include tablet() {
        flex: 6;
        margin-right: 24px;
    }

    @include desktop() {
        margin-right: 32px;
    }
}

.right {
    @include tablet() {
        flex: 4;
    }

    @include only-tablet() {
        max-width: 336px;
    }
}

.carousel {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 75%;
    margin-bottom: 16px;
    border-radius: 16px;

    @include tablet() {
        margin-bottom: 24px;
    }
}

.desc {
    background-color: $color-white;
    border-radius: 16px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    padding: 16px;

    @include only-tablet() {
        max-width: 600px;
    }

    @include tablet() {
        padding: 24px;
    }

    &-header {
        margin-bottom: 16px;
    }
}

.product {
    background-color: $color-white;
    border-radius: 16px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    padding: 16px;
    margin-bottom: 16px;

    @include tablet() {
        padding: 24px;
        margin-bottom: 24px;
    }

    &-title,
    &-category {
        margin-bottom: 8px;
    }

    &-price {
        margin-bottom: 16px;
    }

    &-summary {
        background: $color-neutral-2;
        border-radius: 16px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: row;
        margin-top: 16px;
        padding: 16px;
    }

    &-image {
        border-radius: 12px;
        height: 48px;
        margin-right: 16px;
        width: 48px;
    }

    &-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-title {
            margin-bottom: 4px;
        }
    }
}

.seller {
    background-color: $color-white;
    border-radius: 16px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    padding: 16px;

    &-name {
        margin-bottom: 4px;
    }

    &-image {
        border-radius: 12px;
        height: 48px;
        margin-right: 16px;
        width: 48px;
    }

    &-detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.modal {
    box-sizing: border-box;
    max-width: 377px;
    width: 100%;

    @include tablet() {
        max-width: 360px;
    }

    button {
        margin-top: 24px;
    }

    &-header {
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

        @include tablet() {
            margin-top: 16px;
        }
    }

    &-desc {
        margin-top: 16px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }

    .form {
        margin-top: 16px;

        @include tablet() {
            margin-top: 24px;
        }

        &-label {
            margin-bottom: 4px;
        }
    }
}
